* {
    font-family:'Century Gothic', Arial;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
    --background-colour: whitesmoke;
    --font-colour: #333;
    --main-colour: #fc7825;
    --accent-colour: #6a2274
}
h1 {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--main-colour);
    color: #fff;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--accent-colour);
}
main {
  flex: 1;
  display: flex;
  justify-content:start;
  align-items: start;
  padding: 1rem;
}
.container {
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
    /* justify-content: center; */
}
input[type=text] {
    padding:5px;
    border-radius:5px;
}
button {
    padding:5px;
    background-color: var(--accent-colour);
    border:none;
    color:#fff;
    border-radius:5px;
    transition: 250ms ease-in;
    cursor: pointer;
}
button:hover {
    background-color: #6a2274a3;
}
/* Footer */
footer {
  background: var(--background-colour);
  color: var(--font-colour);
  padding: 1rem;
  text-align: center;
  border-top:2px solid var(--accent-colour)
}
