* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Century Gothic", Arial;
}
html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
:root {
  --background-colour: whitesmoke;
  --font-colour: #333;
  --main-colour: #fc7825;
  --accent-colour: #e4306d;
  --black: #33302e;
}
h1 {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: var(--main-colour);
  color: #fff;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--accent-colour);
}
/* main {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 1rem;
} */
/* .container {
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
  /* justify-content: center; 
} */
header {
  background-color: orange;
  border-bottom: 2px solid #db5735;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 10px;
}
main {
  flex: 1;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.container {
  padding: 30px 50px;
  width: 100%;
  height: 100%;
}
footer {
  background-color: whitesmoke;
  color: var(--black);
  padding: 1rem;
  border-top: 2px solid rgb(221, 221, 221);
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  appearance: none;
  background-color: #dadada;
  background-clip: padding-box;
  border: 1px solid #717274;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button {
  display: inline-block;
  padding: 0.375rem 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 2px solid #b9bcbe;
  border-radius: 0.375rem;
  background-color: #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-primary {
  color: #fff;
  background-color: #168f12;
  border-color: #168f12;
}
.button-primary:hover {
  color: #fff;
  background-color: #0e810a;
  border-color: #0e810a;
}
button:disabled {
  background-color: #717274;
  border-color: #717274;
  cursor: default;
}
.button-primary:disabled:hover {
  color: #fff;
  background-color: #717274;
  border-color: #717274;
}
.form-label {
  margin-bottom: 0.5rem;
}
#side-menu {
  background: var(--main-colour);
  height: 100%;
  width: 150px;
  border-right: 2px solid #db5735;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
input[type="text"] {
  padding: 5px;
  border-radius: 5px;
}
button {
  padding: 5px;
  background-color: var(--accent-colour);
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: 250ms ease-in;
  cursor: pointer;
}
button:hover {
  background-color: #6a2274a3;
}
/* Footer */
footer {
  background: var(--background-colour);
  color: var(--font-colour);
  padding: 1rem;
  text-align: center;
  border-top: 2px solid var(--accent-colour);
}
