:root {
  --main-colour: #fc7825;
  --accent-colour: #e4306d;
  --autumn-colour-theme-coffee: #211832;
  --autumn-colour-theme-mahogany: #b13b35;
  --autumn-colour-theme-chesnut: #bf092f;
  --autumn-colour-theme-pumpkin: #5c3e94;
  --autumn-colour-theme-almond: #ffcdbc;
  --default-colour-theme-black: #000000;
  --default-colour-theme-blue: #14213d;
  --default-colour-theme-deep-blue: #003049;
  --default-colour-theme-orange: #e29415;
  --default-colour-theme-grey: #e5e5e5;
  --default-colour-theme-white: #ffffff;
  --dark-green: #004b23;
  --light-green: #006f34;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Century Gothic", Arial;
}
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.default-header {
  /* background-color: var(--default-colour-theme-deep-blue);
        border-bottom: 2px solid var(--default-colour-theme-orange);
        color: var(--default-colour-theme-grey); */
  /* background: linear-gradient(135deg, #ff7f00, #9b4dca); */
  background: linear-gradient(226deg, #d84315, #b71c1c);
  color: var(--default-colour-theme-grey);
}
.dark-header {
  /* background-color: var(--autumn-colour-theme-chesnut);
        border-bottom: 2px solid var(--autumn-colour-theme-almond); */
  background: linear-gradient(226deg, #d84315, #b71c1c);
  color: var(--default-colour-theme-grey);
}
#left-side-login {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.default-side-menu {
  /* background: var(--default-colour-theme-orange);
        border-right: 2px solid var(--default-colour-theme-deep-blue);
        color: var(--default-colour-theme-white);
  background: linear-gradient(180deg, #ff6600, #8a2be2); */
  background: linear-gradient(319deg, #d84315, #b71c1c);
}
.dark-side-menu {
  /* background: var(--autumn-colour-theme-mahogany);
        border-right: 2px solid var(--autumn-colour-theme-almond); */
  background: linear-gradient(319deg, #d84315, #b71c1c);
  color: var(--autumn-colour-theme-almond);
}
.default-footer {
  /* background-color: var(--default-colour-theme-white);
        color: var(--default-colour-theme-black); */
  background: linear-gradient(97deg, #d84315, #b71c1c);
  color: var(--default-colour-theme-grey);
}
.dark-footer {
  background: linear-gradient(97deg, #d84315, #b71c1c);
  color: var(--autumn-colour-theme-almond);
}
h2 {
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 10px;
}
main,
#login-main {
  flex: 1;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.default-main {
  /* background-color: var(--default-colour-theme-grey); */
  background: linear-gradient(137deg, #e5e5e5, #b7b4b4) !important;
  color: var(--default-colour-theme-black);
}
.dark-main {
  /* background-color: var(--autumn-colour-theme-coffee); */
  /* background: linear-gradient(137deg, #211832, #451c61) !important; */
  background: linear-gradient(135deg, black, #2b2b2b);
  color: var(--autumn-colour-theme-almond);
}
.right-side-login {
  padding: 30px 50px;
  width: 50%;
  height: 100%;
}
.container {
  padding: 30px 50px;
  width: 100%;
  height: 100%;
}
footer {
  /* background-color: whitesmoke; */
  color: var(--autumn-colour-theme-coffee);
  padding: 1rem;
  /* border-top: 2px solid rgb(221, 221, 221); */
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--autumn-colour-theme-coffee);
  appearance: none;
  background-clip: padding-box;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
select {
  appearance: auto !important;
}
.default-form-control {
  background-color: var(--default-colour-theme-white);
  border: 1px solid var(--default-colour-theme-deep-blue);
}
.dark-form-control {
  background-color: var(--autumn-colour-theme-almond);
  border: 1px solid var(--autumn-colour-theme-coffee);
}
.button {
  display: inline-block;
  padding: 0.375rem 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--autumn-colour-theme-coffee);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 2px solid #b9bcbe;
  border-radius: 0.375rem;
  background-color: var(--default-colour-theme-grey);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-submit {
  color: var(--default-colour-theme-grey);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}
.button-submit:hover {
  color: #fff;
  background-color: var(--light-green);
  border-color: var(--light-green);
}
button:disabled {
  color: var(--default-colour-theme-black);
  background-color: var(--default-colour-theme-white);
  border-color: var(--default-colour-theme-deep-blue);
  cursor: default;
}
.button-submit:disabled:hover {
  color: var(--default-colour-theme-black);
  background-color: var(--default-colour-theme-grey);
  border-color: var(--default-colour-theme-blue);
}
.form-label {
  margin-bottom: 1.5rem;
}
#ip-chosen {
  color: var(--default-colour-theme-grey);
}
#user-details-form {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100% !important;
  align-items: center;
}
#side-menu {
  /* background: var(--main-colour); */
  height: 100%;
  width: 250px;
  /* border-right: 2px solid #db5735; */
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
#error-div {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  width: 100%;
  z-index: 1000;
  color: var(--default-colour-theme-grey);
  background-color: darkred;
  transition: 250ms ease-in-out;
}
#loading-spinner {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, transparent) top/8px
      8px no-repeat,
    conic-gradient(transparent 30%, #ffa516);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
