<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/css/styles.css" />
    <title>Real Time Chat</title>
  </head>
  <body>
    <h1>Chat</h1>
    <main>
      <div class="container">
        <div hx-ext="websockets" ws-connect="/websockets">
          <ul id="chat-room" hx-swap="beforeend" hx-swap-oob="beforeend"></ul>
          <form ws-send id="form">
            <input type="text" name="text" />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <p>Footer</p>
    </footer>
    <script src="../src/js/htmx.min.js"></script>
  </body>
</html>
